body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#buzzerState {
	text-align: center;
}

#openButton {
	width: 60%; 
	height: 10em;  
	position:relative; 
	top: 20%; 
	left: 20%;
	background-color: #33FF00;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid #009900;
}

#openButton:hover {opacity: 0.6;}